<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>The Breeze Archive</title>

		<link  href="{% url thebreeze-css %}" rel="stylesheet" type="text/css" media="screen" />
	</head>
	<body>


		<div id="container">

			<div id="header">
                <form method="get" action=".">

				<h1>The Breeze</h1>

				<a href="http://www.breezejmu.org" target="_blank">http://www.breezejmu.org</a>

				<img src="{% url thebreeze-static breezelogo %}" alt="The Breeze" width="335" height="92" />

				<select name="v">
                  {% for v in volumes %}
				  <option value="{{ v }}"{% if volume == v %} selected="selected"{% endif %}>Volume {{ v }}</option>
                  {% endfor %}
				</select>

				<select name="r">
                  {% for i, d, r in issues %}
				  <option value="{{ r }}"{% if record == r %} selected="selected"{% endif %}>Issue {{ i }} ({{ d }})</option>
                  {% endfor %}
				</select>

                </form>

			</div>

			<h2>{{ viewer.obj.title }}</h2>

            <div id="breezepdf" style="height: 80%;">
            {{ embedcode }}
            </div>




		</div>

		<div id="left_ribbon">
			<img src="{% url thebreeze-static 'ribbon_end_left_outside.png' %}" alt="ribbon_end_left_outside" width="55" height="74" />
		</div>

		<div id="right_ribbon">
			<img src="{% url thebreeze-static 'ribbon_end_right_outside.png' %}" alt="ribbon_end_right_outside" width="55" height="74" />
		</div>


        <a href="/"><div id="poweredbymdid"></div></a>


        <script type="text/javascript" src="{% url static 'jquery/jquery-1.4.4.min.js' %}"></script>
        <script type="text/javascript">
            $("form select").change(function() {
                $("form").submit();
            });
        </script>


	</body>
</html>
