{% extends "furiousflower.html" %}

{% load data %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% url static 'flowplayer/flowplayer-3.2.4.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {
    var url = "{{ media.get_delivery_url }}".split("/mp4:");
    flowplayer("player", "/static/flowplayer/flowplayer-3.2.4.swf",
    {
        clip: { url: "mp4:" + url[1], provider: 'influxis' },
        plugins: {
            influxis: {
                url: '/static/flowplayer/flowplayer.rtmp-3.2.3.swf',
                netConnectionUrl: url[0] }
            }
    }
    );
});
</script>

{% endblock %}



{% block content %}

<div style="float: right;"><a href="{% url furiousflower-main %}">All Videos</a></div>

<h1>{{ record.title }}</h1>


<a id="player"
style="display:block; width:{{ media.width|default:"520" }}px; height:{{ media.height|default:"330" }}px"></a>



<div>
    {% metadata record %}
</div>


{% endblock %}